* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 10px 15px;
}

.menu-icon {
    font-size: 24px;
    color: #ff9900;
    cursor: pointer;
}

.header-center {
    text-align: center;
}
.header-left {
    display: flex;
    align-items: center;
}
.logo {
    height: 50px;
}

.header-right {
    display: flex;
    align-items: center;
}

.icon {
    color: white;
    font-size: 24px;
    margin-left: 15px;
    text-decoration: none;
}

.category-menu {
    background-color: #111;
    padding: 10px;
}

.category-menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.category-menu ul li {
    margin: 0 5px;
}

.category-menu ul li a {
    color: #808080;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    text-align: center;
    display: block;
}

.category-menu ul li a:hover {
    background-color: #ff9900;
    color: #ffff;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
.item-card a{
    text-decoration: none;
}
h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.alcohol-sections {
    display: flex;
    flex-direction: column;
}

.section {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.section h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
    color:#808080;
}

.items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item-card {
    background-color: #808080;
    border-radius: 10px;
    border: 1px solid #ffa31a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 22%;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

.item-card:hover {
    transform: translateY(-5px);
    border: 4px solid #ffa31a; /* Цвет границы при наведении */
    box-shadow: 0 0 10px rgba(255, 163, 26, 0.5); /* Эффект тени */
}

.item-card img {
    max-width: 100%;
    border-radius: 10px;
}

.item-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #ffa31a;
}

.item-card p {
    font-size: 1em;
    color: #ffff;
}

.section.active {
    background-color: #ffa31a; /* Highlight color */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Increase shadow */
}
.modal {
    display: none; /* Модальное окно скрыто по умолчанию */
    position: fixed;
    z-index: 1000; /* Поверх всего контента */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон */
}

.modal-content {
    background-color: #333; /* Цвет фона модального окна */
    margin: 15% auto; /* Отступы и центрирование окна */
    padding: 20px;
    border: 1px solid #ffa31a;
    width: 80%;
    max-width: 400px; /* Ограничение ширины */
    color: white; /* Цвет текста */
    border-radius: 10px; /* Закругленные углы */
}

.close-btn {
    color: #ffa31a; /* Цвет кнопки закрытия */
    float: right; /* Позиционирование справа */
    font-size: 24px; /* Размер шрифта */
    font-weight: bold;
    cursor: pointer; /* Указатель курсора при наведении */
}

.close-btn:hover {
    color: white; /* Изменение цвета при наведении */
}
/* Стиль для кнопки View Order */
.view-order {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.view-order-button {
    background-color: #ffa31a;
    border: none;
    color: #333;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

.view-order-button:hover {
    background-color: #ffcc66;
}

/* Стиль для корзины внизу */
.order-summary {
    display: none; /* Скрыта по умолчанию */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    border-top: 2px solid #ffa31a;
    padding: 20px;
    color: white;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Поверх всех элементов */
}

.order-summary h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #ffa31a;
}

.order-summary ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px; /* Ограничение по высоте */
    overflow-y: auto; /* Скролл при переполнении */
}

.order-summary ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.order-summary ul li button {
    background-color: #ffa31a;
    border: none;
    color: #333;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.order-summary ul li button:hover {
    background-color: #ffcc66;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 18px;
}

.checkout-button {
    width: 100%;
    background-color: #ffa31a;
    border: none;
    color: #333;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

.checkout-button:hover {
    background-color: #ffcc66;
}

/* Стиль для бейджа с количеством товаров */
.item-quantity-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff9900;
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    display: none; /* Скрыто по умолчанию */
}

/* Дополнительный стиль для карточек */
.item-card {
    position: relative; /* Относительное позиционирование для бейджа */
    background-color: #808080;
    border-radius: 10px;
    border: 1px solid #ffa31a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 22%;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    cursor: pointer; /* Указатель как рука при наведении */
}

.item-card:hover {
    transform: translateY(-5px);
    border: 4px solid #ffa31a; /* Цвет границы при наведении */
    box-shadow: 0 0 10px rgba(255, 163, 26, 0.5); /* Эффект тени */
}
.item-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.decrease-qty, .increase-qty {
  /*  background-color: #ffa31a;
    border: none;
    color: #333;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;*/
}

.decrease-qty:hover, .increase-qty:hover {
/*    background-color: #ffcc66;*/
}

.item-quantity {
    margin: 0 10px;
    font-size: 16px;
    color: #ffffff;
}

/* Медиазапрос для мобильных устройств */
@media (max-width: 768px) {
  .item-controls {
    position: absolute;
    bottom: 10px; /* Позиционирование внизу карточки */
    left: 10px; /* Слева */
    width: 100%; /* Дополнительно */
}

.decrease-qty {
    background-color: #ff3333;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.decrease-qty:hover {
    background-color: #ff6666;
}



.item-quantity {
    margin: 0 10px;
    font-size: 16px;
    color: #ffffff;
}

    /* Стиль для бейджа с количеством товаров */
.item-quantity-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff9900;
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    display: none; /* Скрыто по умолчанию */
}

/* Дополнительный стиль для карточек */
.item-card {
    position: relative; /* Относительное позиционирование для бейджа */
    background-color: #808080;
    border-radius: 10px;
    border: 1px solid #ffa31a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 22%;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    cursor: pointer; /* Указатель как рука при наведении */
}

.item-card:hover {
    transform: translateY(-5px);
    border: 4px solid #ffa31a; /* Цвет границы при наведении */
    box-shadow: 0 0 10px rgba(255, 163, 26, 0.5); /* Эффект тени */
}


*/
    /* Стиль для кнопки View Order */
.view-order {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.view-order-button {
    background-color: #ffa31a;
    border: none;
    color: #333;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

.view-order-button:hover {
    background-color: #ffcc66;
}

/* Стиль для корзины внизу */
.order-summary {
    display: none; /* Скрыта по умолчанию */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    border-top: 2px solid #ffa31a;
    padding: 20px;
    color: white;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Поверх всех элементов */
}

.order-summary h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #ffa31a;
}

.order-summary ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px; /* Ограничение по высоте */
    overflow-y: auto; /* Скролл при переполнении */
}

.order-summary ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.order-summary ul li button {
    background-color: #ffa31a;
    border: none;
    color: #333;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.order-summary ul li button:hover {
    background-color: #ffcc66;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 18px;
}

.checkout-button {
    width: 100%;
    background-color: #ffa31a;
    border: none;
    color: #333;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

.checkout-button:hover {
    background-color: #ffcc66;
}

    .section h2 {
        font-size: 2em;
        margin-bottom: 15px;
    }
    
    .items {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .item-card {
        width: 45%;
        margin-bottom: 15px;
    }
    
    .item-card h3 {
        font-size: 1.1em;
    }
    
    .item-card p {
        font-size: 0.9em;
    }
    
    .header-right p {
        font-size: 1.5em;
    }
    
    .header-left a {
        /* font-size:1.5em; */
    }
    
    .logo {
        height: 5em;
        width: 11em;
    }
    
    .icon profile-icon {
        width: 4em;
        height: 4em;
    }
    
    .category-menu ul li a {
        color: #808080;
        text-decoration: none;
        padding: 5px 10px;
        font-size: 20px;
        border-radius: 4px;
        text-align: center;
        display: block;
    }
    .section:hover {
    background-color: #ffa31a; /* Цвет фона при наведении */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Увеличение тени */
    transition: background-color 0.3s, box-shadow 0.3s; /* Плавный переход */
}
.section:hover h2 {
    color: #ffff; /* Цвет заголовка при наведении на секцию */
}
.section.active {
    background-color: #ffa31a; /* Highlight color */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Increase shadow */
}
}
.modal {
    display: none; /* Модальное окно скрыто по умолчанию */
    position: fixed;
    z-index: 1000; /* Поверх всего контента */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон */
}

.modal-content {
    background-color: #333; /* Цвет фона модального окна */
    margin: 15% auto; /* Отступы и центрирование окна */
    padding: 20px;
    border: 1px solid #ffa31a;
    width: 80%;
    max-width: 400px; /* Ограничение ширины */
    color: white; /* Цвет текста */
    border-radius: 10px; /* Закругленные углы */
}

.close-btn {
    color: #ffa31a; /* Цвет кнопки закрытия */
    float: right; /* Позиционирование справа */
    font-size: 24px; /* Размер шрифта */
    font-weight: bold;
    cursor: pointer; /* Указатель курсора при наведении */
}

.close-btn:hover {
    color: white; /* Изменение цвета при наведении */
}
/* Медиа-запрос для экранов до 480px */
@media (max-width: 480px) {
   .item-controls {
    position: absolute;
    bottom: 10px; /* Позиционирование внизу карточки */
    left: 10px; /* Слева */
    width: 100%; /* Дополнительно */
}

.decrease-qty {
    background-color: #ff3333;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.decrease-qty:hover {
    background-color: #ff6666;
}



.item-quantity {
    margin: 0 10px;
    font-size: 16px;
    color: #ffffff;
}

    /* Стиль для бейджа с количеством товаров */
.item-quantity-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff9900;
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    display: none; /* Скрыто по умолчанию */
}

/* Дополнительный стиль для карточек */
.item-card {
    position: relative; /* Относительное позиционирование для бейджа */
    background-color: #808080;
    border-radius: 10px;
    border: 1px solid #ffa31a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 22%;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    cursor: pointer; /* Указатель как рука при наведении */
}

.item-card:hover {
    transform: translateY(-5px);
    border: 4px solid #ffa31a; /* Цвет границы при наведении */
    box-shadow: 0 0 10px rgba(255, 163, 26, 0.5); /* Эффект тени */
}


*/
    /* Стиль для кнопки View Order */
.view-order {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.view-order-button {
    background-color: #ffa31a;
    border: none;
    color: #333;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

.view-order-button:hover {
    background-color: #ffcc66;
}

/* Стиль для корзины внизу */
.order-summary {
    display: none; /* Скрыта по умолчанию */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    border-top: 2px solid #ffa31a;
    padding: 20px;
    color: white;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Поверх всех элементов */
}

.order-summary h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #ffa31a;
}

.order-summary ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px; /* Ограничение по высоте */
    overflow-y: auto; /* Скролл при переполнении */
}

.order-summary ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.order-summary ul li button {
    background-color: #ffa31a;
    border: none;
    color: #333;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.order-summary ul li button:hover {
    background-color: #ffcc66;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 18px;
}

.checkout-button {
    width: 100%;
    background-color: #ffa31a;
    border: none;
    color: #333;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

.checkout-button:hover {
    background-color: #ffcc66;
}

    .section h2 {
        font-size: 2em;
        margin-bottom: 15px;
    }
    
    .items {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .item-card {
        width: 48%;
        margin-bottom: 10px;
    }
    
    .item-card h3 {
        font-size: 1em;
    }
    
    .item-card p {
        font-size: 0.8em;
    }
    
    .header-right p {
        font-size: 1.5em;
    }
    
    .header-left a {
        /* font-size:1.5em; */
        padding:5px;
    }
    
    .logo {
        height: 40px;
        width: 8em;
    }
    
    .icon profile-icon {
        width: 4em;
        height: 4em;
    }
    .category-menu ul {
        flex-direction: row; /* Сохраняем горизонтальное меню */
        overflow-x: auto; /* Добавление горизонтальной прокрутки при необходимости */
    }

    .category-menu ul li {
        margin: 0 5px; /* Уменьшение отступов между пунктами меню */
    }
    
    .category-menu ul li a {
      font-size: 14px; /* Уменьшение размера текста */
        padding: 8px 5px; /* Уменьшение внутреннего отступа */
    }
    .section:hover {
    background-color: #ffa31a; /* Цвет фона при наведении */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Увеличение тени */
    transition: background-color 0.3s, box-shadow 0.3s; /* Плавный переход */
}
.section:hover h2 {
    color: #ffff; /* Цвет заголовка при наведении на секцию */
}
.section.active {
    background-color: #ffa31a; /* Highlight color */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Increase shadow */
}
}
.modal {
    display: none; /* Модальное окно скрыто по умолчанию */
    position: fixed;
    z-index: 1000; /* Поверх всего контента */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон */
}

.modal-content {
    background-color: #333; /* Цвет фона модального окна */
    margin: 15% auto; /* Отступы и центрирование окна */
    padding: 20px;
    border: 1px solid #ffa31a;
    width: 80%;
    max-width: 400px; /* Ограничение ширины */
    color: white; /* Цвет текста */
    border-radius: 10px; /* Закругленные углы */
}

.close-btn {
    color: #ffa31a; /* Цвет кнопки закрытия */
    float: right; /* Позиционирование справа */
    font-size: 24px; /* Размер шрифта */
    font-weight: bold;
    cursor: pointer; /* Указатель курсора при наведении */
}

.close-btn:hover {
    color: white; /* Изменение цвета при наведении */
}
}
